body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
  'Helvetica Neue', sans-serif
}
#quizwhole {
  max-width: 800px;
}

.btn {
  background-color: chartreuse;
  border-radius: 10px;
}

.quiz {
  display: none;
}

.results {
  display: none;
}

#python {
  display: none;
}

#javascript {
  display: none;
}

#csharp {
  display: none;
}